{% extends 'base.html' %}

{% block content %}
    <style>
      body {
        background-image: url("{{ url_for('static', path='/img/bg.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>

      <footer>
          <div class="fixed-bottom d-flex justify-content-center">
            <button type="button" class="btn btn-secondary flex-fill" onclick="location.href='/menu'" style="font-size: 128px;">먹고가기</button>
            <button type="button" class="btn btn-secondary flex-fill" onclick="location.href='/menu'" style="font-size: 128px;">포장하기</button>
          </div>
      </footer>
      
    {% endblock content %}
    
    <script src="{{ url_for('static', path='/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
